:root{
--DesaturatedDarkCyan: hsl(180, 29%, 50%);
--LightGrayishCyan: hsl(180, 52%, 96%);
--LightGrayishCyan: hsl(180, 31%, 95%);
--DarkGrayishCyan: hsl(180, 8%, 52%);
--VeryDarkGrayishCyan: hsl(180, 14%, 20%);

}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.container{
  background-color: var(--LightGrayishCyan);
}
header{
  background-color: var(--DesaturatedDarkCyan);
}
header img{
  width: 100%;
}
.profiles{
  display: flex;
  flex-direction: column;
  padding: 100px ;
  gap: 20px;
}

.profile{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 10px;
}

.profile-data{
  display: flex;
  align-items: center;
}
.data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
}
.job-type{
  display: flex;
  color: grey;
  font-weight: 500;
  margin-top: -25px;
}
.punto{
  font-weight: 700;
  margin-left: 6px;
  margin-right: 6px;
}
.company{
  display: flex;
  color: var(--DesaturatedDarkCyan);
  font-weight: 900;
}
.new,
.featured{
  margin-left: 10px;
  font-size: 12PX;
}
.new{
  color: #fff;
  background-color: var(--DesaturatedDarkCyan);
  padding: 3px 8px;
  border-radius: 50px;
}
h3{
  cursor: pointer;
  margin-top: 5px;
  color: var(--VeryDarkGrayishCyan);
}
h3:hover{
  color: var(--DesaturatedDarkCyan);
}
.featured{
  color: #fff;
  background-color: var(--VeryDarkGrayishCyan);
  border-radius: 50px;
  padding: 3px 10px;
}
.filter{
  padding: 5px;
  margin: 10px;
 
}
.languages,
.level,
.role,
.tools{
  cursor: pointer;
  margin: 7px;
  border: none;
  color: var(--DesaturatedDarkCyan);
  background-color: var(--LightGrayishCyan);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
}
.languages:hover,
.level:hover,
.role:hover,
.tools:hover{
  color: #fff;
  background-color: var(--DesaturatedDarkCyan);
  border-radius: 5px;
}
.filter-tags{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
}
.filter-tag{
  display: flex;

}
.filter-tag span{
  color: var(--DesaturatedDarkCyan);
  background-color: var(--LightGrayishCyan);
  font-weight: 600;
}
.x-button{
  cursor: pointer;
  background-color: var(--DesaturatedDarkCyan);
  color: #fff;
  font-weight: 600;
  border: none;
}
.x-button:hover{
  background-color: var(--VeryDarkGrayishCyan);
}
.clear button{
  cursor: pointer;
  color: var(--DesaturatedDarkCyan);
  background-color: #fff;
  border: none;
  font-weight: 600;
}
.clear button:hover{
  border-bottom: 1px solid var(--DesaturatedDarkCyan);
}
